<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather|PT+Sans|Prompt|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="navbar-top container-fluid fixed-top">
                <ul class="navbar-left">
                    <li>
                        <div class="col">
                            <i class="fa fa-lg fa-map-marker" aria-hidden="true"></i>
                            <a href="#">2130 Menekşe Sokak, İstanbul, 94117-34580 Türkiye</a>
                        </div>
                    </li>
                    <li>
                        <div class="col">
                            <i class="fa fa-lg fa-phone" aria-hidden="true"></i>
                            <a href="#">0(212) 678 67 78</a>
                        </div>
                    </li>
                    <li>
                        <div class="col">
                            <i class="fa fa-envelope-open" aria-hidden="true"></i>
                            <a href="#">mail@happpyflights.com</a>
                        </div>
                    </li>

                </ul>
                <ul class="navbar-right">
                    <li>
                        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-vimeo" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-rss" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
            <nav class="menu navbar fixed-top navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">
                    <img src="/theme/img/Ads%C4%B1z3.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/Index">ANASAYFA <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()

            <div id="footer" style="margin-top:100px;color:#000;">
                <div class="row" style="padding-left: 10px;">
                    <div class="col-lg-4 col-sm-12">
                        <h5>Bizimle İletişime Geçin</h5>
                        <hr class="cizgi left">
                        <ul>
                            <li>
                                <i class="fa fa-lg fa-map-marker" aria-hidden="true"></i>
                                <a href="#">2130 Menekse Sokak, Istanbul, TR 94117-34580 Türkiye</a>
                            </li>
                            <li>
                                <i class="fa fa-lg fa-phone" aria-hidden="true"></i>
                                <a href="#">0(212) 876 56 78</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                <a href="#">mail@happyflights.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <h5>Bülten Aboneliği</h5>
                        <hr class="cizgi left">
                        <ul>
                            <li>
                                <p style="width: 60%;">Haber bültenimize üye olun ve en yeni haberler, özel teklifler, etkinlikler ve indirim hakkında ilk önce siz olun.</p>
                            </li>
                            <li class="col-6">
                                <input type="text" class="form-control" placeholder="E-mail adresiniz" style="margin-left: -4px;">
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary">Abone Ol</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <h5>Sosyal Medya</h5>
                        <hr class="cizgi left">
                        <ul class="social-media">
                            <li>
                                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-vimeo" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-rss" aria-hidden="true"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="stop" class="scrollTop">
                <span><a href="" class="fa fa-2x fa-paper-plane-o"></a></span>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://production-assets.codepen.io/assets/common/everypage-272748ef5f043efea682dd58f83963e8067e273a512e8eea180f7a4dc2e397fa.js"></script>
        <script type="text/javascript" src="/theme/js/javascript.js"></script>
</body>
</html>