<div class="jumbotron jumbotron-fluid col-12">
    <div class="container">
        <h1 class="display-4">Bilet bulunamadı</h1>
        <p class="lead">Aradığınız uçuşa uygun bilet bulunamadı.</p>
        <a href="/Home/Index"><button type="submit" class="btn btn-primary">Geri Dön</button></a>
    </div>
</div>