
@{
    ViewBag.Title = "BlogVenice";
}

<div class="image">
    <img src="/theme/img/venedik.jpg" width="100%;" height="770;">
    <p class="container baslik">Birbirinden kanallarla ayrılan adalar üzerine kurulmuş Venedik; köprüleri, gondolları, Rönesans Dönemi’nin eserlerini görebileceğiniz müzeleri, yüzyıllardır devam eden karnavalı ve belki de en önemlisi trafik gürültüsü duyulmayan sokaklarıyla Akdeniz’in en farklı şehirlerinden biri.</p>
</div>
<div class="map" style="margin-top: 100px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5599.071088238833!2d12.323924432823913!3d45.43886321207153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sOteller!5e0!3m2!1str!2str!4v1514904344335" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row" style="margin-top:40px; margin-left: 20px;">
    <div class="kent-rehberi col-3">
        <p style="font-size: 35px;">Kent Rehberi</p>
        <p><strong>Nüfus:</strong><span class="baslik"> Yaklaşık 300 bin</span></p>
        <p><strong>İklim:</strong><span class="baslik"> Akdeniz iklimine ek olarak, özellikle kışları sert ve rüzgârlı geçen şehirde, aralık ve ocak dışındaki 10 ay ziyaret için uygundur.</span></p>
        <p><strong>Dil:</strong><span class="baslik">İtalyanca</span></p>
        <p><strong>Para Birimi:</strong><span class="baslik">Avro</span></p>

    </div>
    <div class="col-3" style="height: 600px;float:left;margin-left: 20px;">
        <img src="/theme/img/photo-1504197885-609741792ce7.jpg" width="100%;" height="390px;">
    </div>

    <div id="carouselContent" class="carousel slide col-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-left p-4">
                <p style=color:#fff;>Yapılması Gerekenler</p>
                <p class="carousel-details">Müzeleri ve 3 günlük ulaşımı kapsayan Venezia Unica Pass alarak şehirdeki kilise ve müzeleri ücretsiz ve sıra beklemeden gezebilirsiniz. wwww.veneziaunica.it</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Venedik'te şehir içi ulaşımı sağlayan küçük tekneler olan "vaporettolar" için kalış sürenize göre bir kart satın alın.12 saat ile 7 gün arasında değişen sürelerden birine göre alacağınız kart,vaporettolara sınırsız biniş hakkı sağlayacaktır.</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Accademia'da bulunan Leonardo Da Vinci'nin Vitruvius Adamı isimli eseri hergün sergilenmiyor.Bu eseri görmeden şehirden ayrılmak istemiyorsanız Accademia ile irtibata geçebilirsiniz. www.galleriaccademia.org</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-2 etkinlik">
        <p class="div-title">Etkinlik-Festival</p>
        <p>Venedik Karnavalı - Şubat</p>
        <p>Venedik Film Festivali - Ağustos-Eylül</p>
        <p>Opera Festivali - Eylül</p>
        <p>Venedik Maratonu - Ekim</p>
        <p>Vogalonga - Mayıs</p>
    </div>
</div>
<div class="rehber">
    <div class="row" style="margin-top:-160px;">
        <div class="rehber-div col-3">
            <img src="/theme/img/murano.jpg">
            <p class="top-title">Murano Adası</p>
            <p class="bottom-details">Venedik Cumhuriyeti, kentin merkezindeki atölyelerden birinde çıkabilecek olası bir yangından korkup tüm ustaları Murano Adası’na zorunlu olarak göç ettirince, yıllar boyu süregelen Venedik cam sanatı, Murano cam sanatına dönüşmüş. Adada atölyeler, mağazalar ve cam müzesi bulunuyor.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/photo5.jpg">
            <p class="top-title">Büyük Kanal</p>
            <p class="bottom-details">Venedik, eşsiz bir şehir ve burada her şey alıştığımızdan biraz farklı. Yollar yerine kanallar, taşıtlar yerine tekneler var. Bu durumda, Büyük Kanalı da şehrin ana caddesi gibi düşünebiliriz. 4 kilometrelik uzunluğuyla bu muhteşem su kanalı, tren istasyonundan başlayarak San Marco Meydanı’na kadar uzanıyor.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/pexels-photo-672532.jpeg">
            <p class="top-title">Dükler Sarayı</p>
            <p class="bottom-details">San Marco Meydanı’ndaki bir başka görkemli eser ise, Dükler Sarayı. Ünlü çapkın Kazanova’nın da hücresinin bulunduğu sarayı hapishaneye bağlayan bir de köprü var burada: Ahlar Köprüsü (Pontei de Sospiri). Köprünün bu ilginç ismini hapishaneye götürülen mahkûmların son kez Venedik’e bakıp iç geçirdikleri yer oluşundan aldığı söyleniyor.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/carnival-schwabisch-hall-costume-red-59826.jpeg">
            <p class="top-title">Venedik Karnavalı</p>
            <p class="bottom-details">Eğer Venedik’e şubat ayında seyahat ediyorsanız, şanslı olduğunuzu düşünebilirsiniz. Venedik, karnaval zamanı her zaman olduğundan çok daha renkli ve hareketli oluyor. Karnavalın ilk kutlandığı yıllarda sosyal statü farklılıklarını yok etmek için kullanılan maskeler, şimdilerde etkinliğin vazgeçilmez aksesuarı haline gelmiş.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/photo-1505871682962-311cdd74af45.jpg">
            <p class="top-title">Gondol Keyfi</p>
            <p class="bottom-details">Şehrin sembolü ve en şık ulaşım aracı olan gondollar, Venedik denince akla gelen şeylerin başında geliyor. Gondolların daracık kanallarda süzülüşüne şahit olmak ve Venedik deneyiminizi taçlandırmak için mutlaka bir gondol gezisi yapın.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/fisher.jpeg">
            <p class="top-title">Rialto Balık Pazarı</p>
            <p class="bottom-details">1097 yılında bu yana aynı bölgede kurulan bu balık pazarı şehrin, özellikle sabahları, en hareketli alanlarından. Sabahın erken saatlerinden alışveriş için pazara gelen insanların hareketliliği, cıvıl cıvıl sahnelere fon oluşturan tarihî yapılar ve Büyük Kanal’ın suratınızı okşayan rüzgârı ile bütün duyularınızı harekete geçirecek bir cazibe merkezi.</p>
        </div>

    </div>
</div>