
@{
    ViewBag.Title = "BlogIstanbul";
}

<div class="image">
    <img src="/theme/img/istanbull.jpg" width="100%;" height="770;">
    <p class="container baslik">Asya ile Avrupa arasında uzanan eşsiz İstanbul’un, derin tarihini yansıtan yapıları, camileri, kiliseleri ve müzeleriyle ziyaretçilerini her mevsim mutlu edecek güzellikleri var...</p>
</div>
<div class="map" style="margin-top: 100px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d12667.23287492517!2d28.974524974953138!3d41.009306231547406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sOteller!5e0!3m2!1str!2str!4v1514899702109" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row" style="margin-top:40px; margin-left: 20px;">
    <div class="kent-rehberi col-3">
        <p style="font-size: 35px;">Kent Rehberi</p>
        <p><strong>Nüfus:</strong><span class="baslik"> Yaklaşık 14 milyon</span></p>
        <p><strong>İklim:</strong><span class="baslik"> Ilıman iklimin görüldüğü kentte kışlar yağışlı, yazlar ise sıcak geçer.</span></p>
        <p><strong>Dil:</strong><span class="baslik"> Türkçe</span></p>
        <p><strong>Para Birimi:</strong><span class="baslik"> Türk Lirası (TL)</span></p>

    </div>
    <div class="col-3" style="height: 600px;float:left;margin-left: 20px;">
        <img src="/theme/img/4563_1_banner-ist-2.jpg" width="100%;" height="390px;">
    </div>

    <div id="carouselContent" class="carousel slide col-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-left p-4">
                <p style=color:#fff;>Yapılması Gerekenler</p>
                <p class="carousel-details">Toplu taşıma araçlarında unuttuğunuz eşyalarınız için ALO 153'e başvurabilirsiniz.</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Eminönü'nde balık yemeden ayrılmayın.</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">İstanbul'da gezeceğiniz müze saray ve tarihi yapıların tümüne ücretsiz giriş sağlayan Museum Pass Istanbul isimli karttan satın alarak 5 gn süresince dilediğiniz her yere girebilirsiniz.</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-2 etkinlik">
        <p class="div-title">Etkinlik-Festival</p>
        <p>İstanbul Alışveriş Festivali - Temmuz</p>
        <p>Lale Festivali - Nisan</p>
        <p>Filmekimi - Ekim</p>
        <p>Açık Hava Konserleri - Haziran</p>
    </div>
</div>
<div class="rehber">
    <div class="row" style="margin-top:-160px;">
        <div class="rehber-div col-3">
            <img src="/theme/img/ayasofyajpg.jpg">
            <p class="top-title">Ayasofya Müzesi</p>
            <p class="bottom-details">Eşsiz güzellikteki camileri, kiliseleri, çarşıları ve hanlarıyla her yanı buram buram tarih kokan İstanbul’da mimari formu, zengin tarihi ve dinî önemiyle öne çıkan çok özel bir yapı var: Ayasofya Müzesi. Doğu Roma İmparatorluğu’nun İstanbul’da yaptığı en büyük kilise olan Ayasofya, 6. yüzyıldan beri ayakta duran eşsiz bir sanat eseri.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/topkapi_32_1974763.jpg">
            <p class="top-title">Topkapı Sarayı</p>
            <p class="bottom-details">Dünyada günümüze gelebilmiş en eski ve en geniş saraylardan biri olan Topkapı Sarayı’nda 31 Osmanlı imparatoru hüküm sürmüş. Marmara Denizi, İstanbul Boğazı ve Haliç’in kesiştiği Tarihî Yarımada’nın ucundaki Sarayburnu’nda bulunan sarayda kutsal emanetler, hazine odaları, padişah giysileri, kıymetli taş koleksiyonu, harem ve sayısız eser görülebilir. </p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/taksim.jpg">
            <p class="top-title">Taksim Meydanı & İstiklal Caddesi</p>
            <p class="bottom-details">Şehrin kalbi sayılabilecek bir noktadaki Taksim Meydanı’nın etrafında her biri başka bir dokuya uzanan caddeler var. Her yön, başka bir mahalleye ve hayata açılan kapılar gibi. 24 saat devam eden yaşam, bitmeyen kalabalıklar, mekânlar, tarihî yapılar, sokak sanatçıları ve daha birçok şey, şehrin bu bölgesinde bulunuyor.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/bogaz.jpg">
            <p class="top-title">Boğaz Hattı & Adalar</p>
            <p class="bottom-details">İstanbul’daki geziniz, Asya ve Avrupa’nın arasından uzanan eşsiz güzellikteki Boğaz sayesinde daha da unutulmaz olacak. Dünyada benzeri olmayan bu kıtalararası durum, İstanbul’daki birçok muhteşem manzaranın da sebebi. Yılın her mevsimi ve günün her saati ayrı güzel olan Boğaz’da, ister en önemli noktalara uğrayan bir tekne turu yapın ister Adalar’dan birine giderek bir sahil kasabasının sakinliğini yaşayın.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/tatli.jpg">
            <p class="top-title">Türk Mutfağı</p>
            <p class="bottom-details">stanbul’da dünyanın her mutfağından en leziz örnekleri bulabilirsiniz ancak deneyiminizin gerçekten eşsiz olmasını istiyorsanız, tavsiyemiz kendinizi Türk mutfağının muhteşem tatlarına bırakmanız. Kebaplar ve ızgaralar, pideler ve hamur işleri, sebze yemekleri ve salatalar, tatlılar ve daha niceleriyle İstanbul, misafirlerine tadına doyulmaz bir yemek deneyimi vadediyor.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/bazaar.jpg">
            <p class="top-title">Kapalıçarşı</p>
            <p class="bottom-details">Fatih Sultan Mehmet’in Kapalıçarşı’nın inşaatına başladığı 1461 yılı, Kapalıçarşı’nın kuruluş yılı olarak kabul görmüş. Asıl büyük çarşı ise Kanuni Sultan Süleyman tarafından ahşap olarak inşa ettirilmiş. Evliya Çelebi burayı muazzam güçlü bir kale gibi tanımlamıştı. Çelebi, 1640’lı yıllarda Kapalıçarşı esnafını ise şöyle anlatmış: "İstanbul’un kalabalık ve seçme yerinde, Osmanoğulları’nın büyük hazinesidir ki gûya kahkaha kalesidir. Bütün sefere gidenlerin, vezirlerin ve âyânın malları buradadır ki yeraltında nice yüz demir kapılı mahzenleri vardır.</p>
        </div>

    </div>
</div>