
@{
    ViewBag.Title = "BlogBerlin";
}

<div class="image">
    <img src="/theme/img/castle-germany-disney-40735.jpeg" width="100%;" height="770;">
    <p class="container baslik">Zıt kutupların oluşturduğu kendine has bir ahenge sahip olan Almanya’nın başkenti Berlin; Brandenburg Kapısı ve Berlin Duvarı’nın artık bir sanat eserine dönen East Side Gallery kısmı gibi Avrupa yakın tarihinin en önemli yapılarının görülebileceği dinamik bir şehir</p>
</div>
<div class="map" style="margin-top: 100px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d19421.226904224914!2d13.40293!3d52.521612!3m2!1i1024!2i768!4f13.1!2m1!1sOteller!5e0!3m2!1str!2str!4v1514882281391" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row" style="margin-top:40px; margin-left: 20px;">
    <div class="kent-rehberi col-3">
        <p style="font-size: 35px;">Kent Rehberi</p>
        <p><strong>Nüfus:</strong><span class="baslik"> Yaklaşık 3,5 milyon</span></p>
        <p><strong>İklim:</strong><span class="baslik"> Karasal iklimin tüm özelliklerini taşıyan kentte, ocak ve şubat ayları soğuk geçiyor.</span></p>
        <p><strong>Dil:</strong><span class="baslik"> Almanca</span></p>
        <p><strong>Para Birimi:</strong><span class="baslik"> Avro</span></p>

    </div>
    <div class="col-3" style="height: 600px;float:left;margin-left: 20px;">
        <img src="/theme/img/travell.jpeg" width="100%;" height="390px;">
    </div>

    <div id="carouselContent" class="carousel slide col-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-left p-4">
                <p style="color#fff;">Yapılması Gerekenler</p>
                <p class="carousel-details">Müze Adası da dahil olmak üzere Berlin'in müze dünyasını keşfetmek için 3 gün süresiyle geçerli müze kartını alabilirsiniz. 24€(öğrenciler için 12€) ücret karşılığında müze,Berlin Tourist Info noktaları veya internet üzerinden satın alınabilir. </p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color=#fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Toplu taşımadan ücretsiz yararlanmak isterseniz Berlin Welcome card alabilirsiniz. Detaylı bilgi ve satın almak için: www.berlin-welcomecard.de</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Berlin'in toplu taşıma ağı BVG'nin web adresine girerek gideceğiniz adresi yazarsanız en uygun ve hızlı ulaşım önerilerine ulaşabilirsiniz.</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-2 etkinlik">
        <p class="div-title">Etkinlik-Festival</p>
        <p>JazzFest Berlin - Kasım</p>
        <p>Berlinale Film Festivali - Şubat</p>
        <p>MaerzMusik - Mart</p>
        <p>Kültürler Karnavalı - Nisan</p>
        <p>Berlin Bienali - Haziran-Eylül</p>
    </div>
</div>
<div class="rehber">
    <div class="row" style="margin-top:-160px;">
        <div class="rehber-div col-3">
            <img src="/theme/img/berlin-katedrali.jpg">
            <p class="top-title">Berliner Dom</p>
            <p class="bottom-details">270 basamak çıkarak ulaşacağınız 114 metre yüksekliğindeki kubbesinden Berlin’in en güzel manzaralarından birini sunan katedral, 15. yüzyıldan beri ayakta. Yapı, barok tarzın önemli eserlerinden sayılıyor ve her yıl yüzbinlerce ziyaretçiyi kendine çekiyor.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/brandenburg.jpg">
            <p class="top-title">Bredenburg Kapısı</p>
            <p class="bottom-details">Berlin’in sembol yapılarından biri olan bu heybetli kapı, özellikle gece ışıklandırılmasıyla görülmeye değer. Üzerinde mahşerin dört atlısını temsil eden Quadriga heykeli bulanan yapı, Pariser Platz’ın tam ortasında bulunuyor.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/ulasim4.jpg">
            <p class="top-title">Havalimanından Şehre Ulaşım</p>
            <p class="bottom-details">Berlin Tegel Havalimanı’ndan Alexandrplatz’a ulaşmak için en hızlı ve kolay yol, JetExpress TXL otobüsünü kullanmak. Daha küçük bir havalimanı olan Schonefeld Havalimanı’ndan şehir merkezine hafif metro diyebileceğimiz S-Bahn ile ulaşılabilir.Türk Hava Yolları, İstanbul’dan Berlin Tegel Havalimanı’na haftada 46 frekansla uçuyor. Uçuş süresi ise yaklaşık 3 saat.</p>
        </div>
    </div>
</div>