
@{
    ViewBag.Title = "BlogChicago";
}

<div class="image">
    <img src="/theme/img/chic5.jpg" width="100%;" height="770;">
    <p class="container baslik">Michigan Gölü’nün kıyısındaki Şikago; Amerika’daki ilk gökdelenlerin Amerikan Rüyası ile birlikte inşa edildiği kentlerden. Göl kıyısındaki kent merkezi ve renkli sokaklarıyla Şikago, ihtişamlı ve güzel.</p>
</div>
<div class="map" style="margin-top: 100px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11881.727053661998!2d-87.63411811555723!3d41.88357068943338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbc1be78361%3A0xe434de2b829a0f0!2sW+Chicago+-+City+Center!5e0!3m2!1str!2str!4v1514961245005" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row" style="margin-top:40px; margin-left: 20px;">
    <div class="kent-rehberi col-3">
        <p style="font-size: 35px;">Kent Rehberi</p>
        <p><strong>Nüfus:</strong><span class="baslik"> Yaklaşık 3 milyon</span></p>
        <p><strong>İklim:</strong><span class="baslik"> Nemli karasal iklimin etkisi altında olan şehirde dört mevsim de yaşanıyor. En soğuk mevsim ortalaması -3 CO en sıcak yaz ortalaması 25 CO civarında. Ziyaret için en uygun zamanlar, nisan-ekim ayları arası.</span></p>
        <p><strong>Dil:</strong><span class="baslik">İngilizce</span></p>
        <p><strong>Para Birimi:</strong><span class="baslik">Amerikan Doları</span></p>

    </div>
    <div class="col-3" style="height: 600px;float:left;margin-left: 20px;">
        <img src="/theme/img/pexels-photo-416942.jpeg" width="100%;" height="390px;">
    </div>

    <div id="carouselContent" class="carousel slide col-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-left p-4">
                <p style=color:#fff;>Yapılması Gerekenler</p>
                <p class="carousel-details">Chicago'nun en önemli 5 turist mekanı olan Shedd Akvaryumu, Skydeck Chicago, Museum of Science Industry ve Adler Planetaryum'a hem indirimli hem de sıra beklemeden girmek için Chicago CityPass alabilirsiniz.</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">Şehir içi ulaşım için metroyu kullanacaksanız 3 ya da 7 günlük PassCard ile şehri dilediğiniz gibi gezebilirsiniz.</p>
            </div>
            <div class="carousel-item text-left p-4">
                <p style="color: #fff;">Yapılması Gerenler</p>
                <p class="carousel-details">NBA'in efsane takımlarından Chicago Bulls, maçlarını Chicago Stadium'da oynuyor.Bu takımı izleme şansınız olduğunu unutmayın.</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-2 etkinlik">
        <p class="div-title">Etkinlik-Festival</p>
        <p>Chicago Blues Festivali - Haziran</p>
        <p>Mayfest Mayıs Festivali - Mayıs</p>
        <p>Chicago Caz Festivali - Eylül</p>
        <p>Chicago Türk Festivali - Eylül</p>
    </div>
</div>
<div class="rehber">
    <div class="row" style="margin-top:-160px;">
        <div class="rehber-div col-3">
            <img src="/theme/img/chicmuseum.jpg">
            <p class="top-title">Müze Kampüsü</p>
            <p class="bottom-details">VTamamı doğa bilimlerine adanmış kayda değer birçok müzenin bulunduğu bölgede, <strong>The Art Institute of Chicago, Field Doğa Tarihi Müzesi, The Shedd Aquarium ve Adler Planetaryumu</strong> gibi birçok yeri ziyaret edebilirsiniz.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/pizza2.jpg">
            <p class="top-title">Chicago Usulü Pizza</p>
            <p class="bottom-details">Chicago’ya gitmişken tadılması gereken lezzetlerin başında Chicago usulü pizza ya da deep-dish pizza olarak geçen pizzalar geliyor. Oldukça kalın bir hamur ve bol malzemeyle yapılan, doyurucu ve lezzetli bu pizzanın bir tanesini tek başınıza yemekte zorlanabilirsiniz, bizden söylemesi.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/searstower.jpg">
            <p class="top-title">Sears Kulesi</p>
            <p class="bottom-details">1973’te inşa edilen Sears Kulesi, Amerika’nın ikinci en yüksek binası unvanına sahip. Kulenin 103. katında bulunan ünlü Skydeck Chicago adlı camdan terasta onlarca farklı pozda fotoğraf çektirerek kendinizi havada hissetmenin keyfini çıkarabilirsiniz.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/library.jpeg">
            <p class="top-title">Chicago Ulusal Kütüphanesi</p>
            <p class="bottom-details">Dünyanın en büyük kütüphanelerinden biri olan bu yapı, hem mimarisi hem de içinde bulunan dünyanın dört bir yanından toplanan kaynaklarıyla göz dolduruyor.</p>
        </div>
        <div class="rehber-div col-3">
            <img src="/theme/img/theatre.jpg">
            <p class="top-title">Music Box Theatre</p>
            <p class="bottom-details">1929’dan beri hizmet veren bu kurum, sinemaseverlerin mutlaka uğraması gereken tarihî bir sinema salonu. Sanat filmlerinden belgesellere kadar birçok türde film bulabileceğiniz Music Box Theatre, 3000 kişilik bir kapasiteye sahip.</p>
        </div>
        <div class="rehber-div col-5">
            <img src="/theme/img/chicago-illinois-skyline-skyscrapers-161963.jpeg">
            <p class="top-title">Hancock Kulesi</p>
            <p class="bottom-details">Gökdelenler şehri Chicago’da bulunan diğer bir önemli kule olan Hancock Kulesi, eşsiz manzaralı gözlemevi nedeniyle de yoğun ilgi görüyor. Hem şehri hem de Michigan Gölü’nü izleyebileceğiniz gözlemevinin yanı sıra kulenin 95. katında yemek yiyebileceğiniz bir restoran da bulunuyor.</p>
        </div>

    </div>
</div>