
@{
    ViewBag.Title = "Contact";
}
<div class="bg-image">
    <img class="arkaplan" src="/theme/img/page-1_img08_original.jpg" alt="airplane" height="100%;">
</div>
<div class="container-fluid">
    <div class="content" style="margin-top:30%; margin-left:40%; color:#263238;">
        <h4 style="text-align: center;">İletişime Geçin veya Ziyaret Edin</h4>
        <h1 class="ustbaslik" style="text-align: center;font-size: 55px; font-weight: bolder;letter-spacing:13px;">CONTACTS</h1>
    </div>
</div></div>
<div class="row">
    <div class="container-fluid col-8" style="margin-left: 10px;">
        <h2 style="color: #1F2746; margin-top: 20px;">İletişime Geçin</h2>
        <hr class="cizgi" style="float: left; background-color: #F9B806;"><br>
        <p style="margin-top:30px; width: 50%; color: #808080;">Bizimle herhangi bir şekilde bizimle iletişime geçebilirsiniz. Faks veya e-posta yoluyla 7 gün 24 saat hizmetinizdeyiz. Ayrıca aşağıdaki iletişim formunu kullanabilirsiniz veya şahsen ofisimizi ziyaret edebilirsiniz. Sorularınızı cevaplamaktan mutluluk duyarız.</p>
        <form id="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-5 mb-2">
                    <label for="validationCustom01">Adınız</label>
                    <input type="text" class="form-control form-control-lg" id="validationCustom01" placeholder="First name" required>
                    <div class="invalid-feedback">
                        Lütfen isim alanını boş bırakmayınız.
                    </div>
                </div>
                <div class="col-md-5 mb-2">
                    <label for="validationCustom02">Soyadınız</label>
                    <input type="text" class="form-control form-control-lg" id="validationCustom02" placeholder="Last name" required>
                    <div class="invalid-feedback">
                        Lütfen soyad alanını boş bırakmayınız.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-2">
                    <label for="validationCustom03">Email</label>
                    <input type="email" class="form-control form-control-lg" id="validationCustom03" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Lütfen email alanını boş bırakmayınız.
                    </div>
                </div>
                <div class="col-md-5 mb-2">
                    <label for="validationCustom04">Telefon</label>
                    <input type="tel" class="form-control form-control-lg" id="validationCustom04" placeholder="Phone" required>
                    <div class="invalid-feedback">
                        Lütfen telefon alanını boş bırakmayınız.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-9 mb-4">
                    <label for="validationCustom05">Mesaj</label>
                    <textarea class="form-control form-control-lg" rows="7" id="validationCustom05" required></textarea>
                    <div class="invalid-feedback">
                        Lütfen mesaj alanını boş bırakmayınız.
                    </div>
                </div>
            </div>
            <button type="submit" style="background-color: #F9B806;border: none; min-width: 140px; height: 50px; font-size: 20px; color:#fff; border-radius: 4px; font-weight:500;">SEND</button>
        </form>
    </div>
    <div class="contact-us col-3" style="margin-top: 50px;">
        <h2 style="color: #3E3F40;">İrtibat Bilgileri</h2>
        <hr class="cizgi left"><br><br>
        <i class="fa fa-lg fa-phone" aria-hidden="true"></i><a href="#">444 0 479</a>
        <p style="padding-left: 28px;"><a href="#">0(212) 678 67 78</a></p>
        <div class="row">
            <div class="contact-us col">
                <h2 style="color: #3E3F40;">Email</h2>
                <hr class="cizgi left"><br><br>
                <i class="fa fa-lg fa-envelope-open" aria-hidden="true"></i><a href="#">info@happyflights.com</a>
            </div>
        </div>
        <div class="row">
            <div class="contact-us col">
                <h2 style="color: #3E3F40;">Adres</h2>
                <hr class="cizgi left"><br><br>
                <i class="fa fa-lg fa-map-marker" aria-hidden="true"></i><a href="#">2130 Menekşe Sokak, İstanbul, 94117-34580 Türkiye</a>
            </div>
        </div>
        <div class="row">
            <div class="contact-us col">
                <h2 style="color: #3E3F40;">Çalışma Saatlerimiz</h2>
                <hr class="cizgi left"><br><br>
                <i class="fa fa-lg fa-clock-o" aria-hidden="true"></i><a href="#">Haftaiçi 8:00am–6:00pm</a><br>
                <i class="fa fa-lg fa-clock-o" aria-hidden="true"></i><a href="#">Haftasonu 9:00am–4:00pm</a>
            </div>
        </div>
    </div>
</div>